<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-1417781814120840~5229182600</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Lobster.ttf</string>
		<string>OpenSans-Regular.ttf</string>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans-Italic.ttf</string>
		<string>Lato-Medium.ttf</string>
		<string>Lato-Black.ttf</string>
	</array>
	<key>UIMainStoryboardFile~ipad</key>
	<string>Main_iPad</string>
</dict>
</plist>
